#h11{
    color:blue;
    background: yellow;
    border: 2px Solid Brown;
    text-align:center;
    width:80%;
    margin:auto;
}
#h22{
    color:green;
    background: lightpink;
    border: 1px Solid red;
    text-align:center;
    width:70%;
    margin:auto;
}
#img1{
    border:10px inset darkgreen;
    width:500px;
    height:450px;
}
